<div id="<%= dom_id type_income %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= type_income.name %>
  </p>
  
  <% if action_name != "show" %>
    <%= link_to "Show this type income", type_income, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this type income", edit_admin_type_income_path(type_income), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
