<div id="<%= dom_id family_member %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= family_member.user %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Family member:</strong>
    <%= family_member.family_member %>
  </p>

</div>
